<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ramadan.safari">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_transperant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_transperant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.selected_alex_hotel" />
        <activity android:name=".activities.home" />
        <activity android:name=".activities.sign_up" />
        <activity android:name=".activities.alex_hotel" />
        <activity android:name=".activities.main" />
        <activity android:name=".activities.splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.domestic_trips" />
        <activity android:name=".activities.abroad_trips" />
        <activity android:name=".activities.alex_landmark" />
        <activity android:name=".activities.sharm_hotel" />
        <activity android:name=".activities.sharm_landmark" />
        <activity android:name=".activities.selected_sharm_landmark" />
        <activity android:name=".activities.selected_sharm_hotel" />
        <activity android:name=".activities.selected_alex_landmark" />
        <activity android:name=".activities.profile" />
        <activity android:name=".activities.about" />
        <activity android:name=".activities.payment" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>