<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safari">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_transperant"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".staff_home" />
        <activity android:name=".sign_up" />
        <activity android:name=".offers_controller" />
        <activity android:name=".specific_offer" />
        <activity
            android:name=".make_an_order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".offer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alexandria"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".aswan_offers" />
        <activity android:name=".cairo_offers" />
        <activity android:name=".sharm_alsheikh_offers" />
        <activity android:name=".car" />
        <activity android:name=".train" />
        <activity android:name=".minibus" />
        <activity android:name=".bus" />
        <activity android:name=".superjet" />

        <activity android:name=".main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>